

  <%= video_tag "cover_video", autoplay: :autoplay, loop: :loop, muted: :muted, class: 'banner'%>
   <div class="container">
    <div id="banner-content">
      <h1> Save money, rent sport equipment from people near you!</h1>
 <a class="btn btn-info" href="#">>>> Explore</a>
    </div>  
    
    <div class="w-75" id="about-us">
      <h2>>>> About us</h2>
      <p>
      Equrent is an outdoor experience company with a mission to create a world where you can experience the outdoors sustainably. Rent premium outdoor gear with delivery anywhere in the world.
      You acknowledge that you will not use any Arrive equipment in any way other than for its intended use.
      Rent out your equipment to sport-enthusiasts near you and make some cash with Equrent today!</p>
    </div>

  <div id="home-buttons">
    <%= link_to "All offers", offers_path, class: 'btn btn-info' %>
    <%= link_to "Create an offer", new_offer_path, class: 'btn btn-info'  %>
    </div>
  </div>

