<div>
  <h1>Offers</h1>
  <p>Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Exercitationem, sunt, repellat. Quam mollitia blanditiis, iste et suscipit doloremque officiis id aliquid aut quidem sit laudantium accusantium totam recusandae, est nemo!</p>
</div>

<div>
  <% @offers.each do |offer| %>
  <h2><%= link_to offer.name, offer_path(offer) %></h2>
  <p><%= offer.sport_type %></p>
  <p><%= offer.description %></p>
  <% end %>
</div>
<%= link_to "Create an offer", new_offer_path %>
