<div id="container_form" class="container center">
  <div class="d-flex flex-column justify-content-center text-left float-none">
    <div class="d-flex justify-content-between align-middle border-bottom p-2 mb-2">
      <h2>Upload your item</h2>
      <%= link_to "Back to offers", offers_path, class: 'btn btn-light p-2 mb-2 text-muted border' %>
    </div>
    <div>
      <%= render 'form' %>
    </div>
   </div>
</div>
