.banner {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
}
  
#banner-content {
  color: black;
  font-weight: bold;
  position: absolute;
  top: 50vh;
}

#banner-content h1 {
  background-color:white;
  font-size: 30px; 
  padding-left: 10px;
  padding-right: 10px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#about-us h2 {
  font-size: 24px;
}

#about-us {
  margin-top: 40px;
}

#about-us p {
  margin-top: 20px;
  font-size: 18px;
}

#home-buttons {
  margin-top: 30px;
  margin-bottom: 40px;
}
