.container_form {
  align-items: center;
  padding: 10px 10px;
  margin: 10px 10px;
  font-size: 12px;
  width: 60%;
  min-height: 100vh;
}

.center {
  margin: auto;
  // width: 50%;
  border: 1px solid lightgrey;
  padding: 10px;
}

#upload {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}
