.container-form {
  padding: 20px 20px;
  font-size: 12px;
  width: 60%;
  margin: auto;
}

.form-border{
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid lightgrey;
}

#upload {
  padding: 10px;
  padding-top: 20px;
  vertical-align: middle;
}
