// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "form";
@import "map";

#offers-title-right {
  text-align: right;
}

#map{
  width: 100%;
}

@media(min-width: 768px) {
  #map {
    height: 100vh;
    position: sticky;
    top: 0;
    width: auto;
  }
}

.card {
  height: 150px;
  background: #faf7f7;
  border: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  font-size: 22px;
  color: rgb(63, 57, 57);
  font-weight: bolder;
  flex-direction: row;
  a {
    text-decoration: none;
    color: black;
  }
}

.card img {
  width: 45%;
  height: 100%;
  // padding-left: 8px;
  padding-right: 25px;
  object-fit: cover;
}

.card:hover {
  opacity: 0.8;
}

.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 0.7fr 0.7fr;
  grid-gap: 15px;
  margin-right: 16px;
  text-align: left;
  a {
    text-decoration: none;
    color: black;
  }
}

#offers-title {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

#offers-title-right h2 {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 500;
}

.card-product-infos {
  position: relative;
}

// #card-content {
//   margin-top: 10px;
//   display: flex; 
//   justify-content: space-between;
//   align-items: flex-end;
//   // position: relative;
// }

#form-sport-btn {
  margin-top: 5px;
}

#offers-title p {
  font-size: 14px;
}


@media(max-width: 992px ){
  .cards{
    grid-template-columns: 1fr;
  }
}

@media(max-width: 768px ){
  .cards{
    grid-template-columns: 1fr;
  }
}

// body {
//   margin: 0;
//   font-family: 'Varela Round', sans-serif;
//   font-size: 18px;
//   background: #faf7f7;
// }
p {
  font-weight: lighter;
  font-size: 12px;
  margin-bottom: 8px;
}
h1, h2, h3 {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
h3 {
  font-size: 16px;
  color: black;
}
.padded {
  padding: 30px 0;
}


@media(min-width: 768px) {
  .main-container {
    display: flex;
  }
}
